:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;


  --first-brand-color: #cccccc;
  --second-brand-color: #0134d5;
  --third-brand-color: #f53f1c;


  --main-font:  'Montserrat';
  --title-font:  'Montserrat SemiBold';
  --main-title-font: 'Neucha';

  font-size: 62.5%;
}
